<h1 class=" text-center heading-bg" style="text-shadow: 0.3vh 0.3vh #000;
">Documentation</h1>

<div class="row">
    <div class="col-lg-2 mt-2 contentside wrapper bg-secondary">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar ">
                <div class="sidebarheadings d-flex justify-content-between gap-3" style="color: white; list-style: none;" >
                    <h2>Introduction</h2>
                    <h2>Navigation</h2>
                    <h2>API's Used</h2>
                    <h2>Features</h2>
                </div>
            </div>
        </nav>
    </div>

    <div class="col-lg-10 contentx">
        <div class="container">
            <h3><b>Introduction</b></h3>
            <p>
            Art Institute of Chicago project - an online platform that brings all the artworks present in the prestigious museum. 
            This project aims to allow art lovers from around the world to explore and admire the incredible collection of the 
            Art Institute of Chicago from the comfort of their own homes.
            <br>
            <br>
            The website contains a vast collection of artworks from a wide range of genres and styles, including paintings, sculptures,
            photographs and many more. Easy browsing and searching for specific artworks by entering keywords or phrases into the search bar,
            which will filter and display matching results. One can add your favorite artworks to their wishlist, which allows easy tracking 
            of favorite pieces and discover new art that fits within unique interests.
            <br>
            <br>
            Our website offers detailed information and high-quality images of each artwork. Our user-friendly interface allows you to view 
            the artworks in great detail and appreciate their aesthetic beauty up close. You can learn about the history and context of each artwork, 
            and delve into the inspiring stories behind their creation.
            </p>
        </div>
        <div class="container">
            <h3><b>Navigation</b></h3>
            <p>
        The website's navigation structure is designed to be simple and intuitive, allowing users to easily find their way around the site and 
        quickly access the content they are interested in. The primary navigation element in our website is a navbar located at the top of each 
        page and contains the following buttons:<br><br>
        <span><ul>
            <li>Home: Allows users to quickly navigate back to the homepage of the website from any other page.</li>
            <li>Search: This button allows users to access our powerful search functionality, where they can 
                enter keywords or phrases to find specific artworks or information.</li>
            <li>Wishlist: This button leads to the wishlist page, where users can see all the artworks they 
                have saved to their wishlist.</li>
            <li>Documentation: This button leads to the documentation page where users can read and learn more about 
                using the website, including detailed descriptions about our key features, navigation, and other 
                important information.</li>
        </ul><br></span>
        Each of these buttons is linked to a specific page on the website where users can access the content and features that are related to the 
        button clicked. Clicking on any one of them will take the user directly to that page, providing a seamless and user-friendly experience. 
        Moreover, we have kept the navbar consistent throughout the website, allowing users to navigate the site confidently and with ease regardless 
        of which page they are on.
        </p>
        </div>
        <div class="container">
            <h3><b>API's Used</b></h3>
            <dl>
                <dt>API to fetch all ArtWorks</dt>
                <dd>https://api.artic.edu/api/v1/artworks</dd>
                <dt>API to fecth a single Artwork</dt>
                <dd>https://api.artic.edu/api/v1/artworks/129884</dd>
                <dt>API to serach using any keywords</dt>
                <dd>https://api.artic.edu/api/v1/artworks/search?q=cats</dd>
                <dt>API used to get an image </dt>
                <dd>https://www.artic.edu/iiif/2/identifier,/0/default.jpg</dd>
              </dl>
        </div>
        <div>
            <h3><b>Features</b></h3>
            <p>
                <br>
            </p>
            <h3><b>WishList</b></h3>
            <img src="/assets/images/Screenshot (38).png">
            <p><br></p>
            <h5>View Single Artwork</h5>
            <div class="d-flex ">
                <img clas="singleimg" src="/assets/images/Screenshot (40).png">
            </div>
        </div>
    </div>
</div>