<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="https://www.artic.edu/iiif/2/{{sigleartdata.image_id}}/full/843,/0/default.jpg" class="card-img-top" alt="...">
    <h1>{{sigleartdata.title}}</h1>
    <p><b>Date: </b>{{sigleartdata.date_display}}</p>
    <p><b>ArtistName: </b>{{sigleartdata.artist_title}}</p>
    <div class="container col-8 text-center border border-5 border-dark-subtle">
        <p><b>Description: </b>{{sigleartdata.description}}</p>
    </div>
    
</div>